.np{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 80px;
    
    background-color: bisque;
}
.vl {
    border-right: 3px solid black;
    height: 60vh;
}

.des{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 400px;
    margin-left: 150px;
}

.c4{
    
}

.circle {
    height: 350px;
    width: 360px;
    border-radius: 60%;
    box-shadow: 3px 2px 13px 2px;
    margin-left: 135px;
    
}

.birb {
    height: 130px;
    width: 240px;
    border-radius: 60%;
    box-shadow: 0px 1px 13px 1px;
    position: absolute;
    margin-top: 40px;
    
}
.boat {
    height: 200px;
    width: 200px;
    border-radius: 60%;
    box-shadow: 0px 1px 13px 1px;
    position: relative;
    right: 80px;
    top: 40px;
}