.np {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: bisque;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

