.background-container{
    background-color: bisque;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-image: url(bd.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 97vh;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%); 
}



.c2{
    margin-bottom: 135px;
}
.adjust{
    margin-top: 30px;
}

.heading {
    font-size: 80px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: antiquewhite;
    letter-spacing: 15px;
    padding-bottom: 20px;
    text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
}

.stext {
    font-size:20px;
    color: navajowhite;
    letter-spacing: 5px;
}




.searchBox {
    width: 35%;
    height: 4.5vh;
    outline: none;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 4px black;
    font-size: 1.2rem;
    padding-left: 70px;
}


