*{
    margin: 0;
    padding: 0;
}

.hover{
    text-decoration: none;
    color: black;
}

.hover:hover {
    text-decoration: underline;
}

.nav {
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    gap: 100px;
    font-size: medium;
    padding: 20px 0 0 0; 
}




