*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}



.nav {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;
    width: 100%;
}

/* Mobile */

.mobile {
    z-index: 100;
    height: 70vh;
    width: 100%;
    background: hsl(0 100% 100% /0.1);
    backdrop-filter: blur(0.7rem);
    display: none;
    border-radius: 3%;
    padding-top: 70px;
}

.mobile a {
    color: white;
    margin: 50px 0px 0px 40px;
    font-size: 20px;
    transition: all 0.5s linear;
}

.mobile-toggle {
    width: 30px;
    display: inline-block;
    position: absolute;
    z-index: 110;
    top: 20px;
    right: 20px;
    
    
}

.mobile-toggle-open {
 margin-top: 8px;
}

.mobile-toggle span {
    height: 7px;
    width: 100%;
    display: block;
    background-color: #fff;
    margin-bottom: 3px;  
}

.mobile-toggle-open .first,
.mobile-toggle-open .middle,
.mobile-toggle-open .last {
    height: 7px;
    width: 105%;
    display: flex;
    background-color: white;    
    transition: all .25s linear ;
    border: 1px solid black;
}

.mobile-toggle-open .middle {
    visibility: hidden;
    opacity: 0;
}

.mobile-toggle-open .first {
    rotate: -45deg;
}

.mobile-toggle-open .last {
    rotate: 45deg;
    translate: 0 -20px;
}







.show-mobile{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: fixed;
    inset: 0 0 0 67%;
    border: 0.5px white solid;
}


.mobile a::after {
    content:'';
    height: 3px;
    width: 0;
    background-color: white;
    margin: auto;
    display: flex;
}

.mobile a:hover::after {
    width: 100%;
    transition: width 0.5s;
}


/* Desktop */

.desktop {
    display: none;
    justify-content: center;
    gap: 130px;
    font-size: large;
    padding: 20px 0 0 0; 
    width: 100%;
}

.desktop a::after {
    content:'';
    height: 3px;
    width: 0;
    background-color: white;
    margin: auto;
    display: flex;
}

.desktop a:hover::after {
    width: 100%;
    transition: width 0.3s;
}


@media (min-width: 768px) {
    .mobile {
        display: none;
    }
    .desktop {
        display: flex;
    }
    .mobile-toggle {
        display: none;
    }
}

@media (min-width: 992px) {

}




