*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}



.nav {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;
    width: 100%;
    padding-bottom: 33px;
    z-index: 1;
    
}

/* Mobile */

.mobile {
    z-index: 100;
    height: 70vh;
    width: 100%;
    background: hsl(0 100% 100% /0.1);
    backdrop-filter: blur(0.7rem);
    display: none;
    border-radius: 3%;
    padding-top: 70px;
}

.mobile a {
    color: white;
    margin: 50px 0px 0px 40px;
    font-size: 20px;
    transition: all 0.5s linear;
}

.mobile-toggle {
    width: 30px;
    display: inline-block;
    position: absolute;
    z-index: 110;
    top: 20px;
    right: 20px;   
}

.mobile-toggle-open {
 margin-top: 8px;
}

.mobile-toggle span {
    height: 7px;
    width: 100%;
    display: block;
    background-color: #fff;
    margin-bottom: 3px;  
}

.mobile-toggle-open .first,
.mobile-toggle-open .middle,
.mobile-toggle-open .last {
    height: 7px;
    width: 105%;
    display: flex;
    background-color: white;    
    transition: all .25s linear ;
    border: 1px solid black;
}

.mobile-toggle-open .middle {
    visibility: hidden;
    opacity: 0;
}

.mobile-toggle-open .first {
    rotate: -45deg;
}

.mobile-toggle-open .last {
    rotate: 45deg;
    translate: 0 -20px;
}







.show-mobile{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: fixed;
    inset: 0 0 0 67%;
    border: 0.5px white solid;
}


.mobile a::after {
    content:'';
    height: 3px;
    width: 0;
    background-color: white;
    margin: auto;
    display: flex;
}

.mobile a:hover::after {
    width: 100%;
    transition: width 0.5s;
}


/* Desktop */

.desktop {
    display: none;
    justify-content: center;
    width: 100%;
    font-family: sans-serif;
}

.dc {
    display: flex;
    flex-direction: row;
    gap: 130px;
    font-size: 15px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-right: 25px;
    padding-left: 25px;
    border-bottom-left-radius: 20px;
    background-color: white;
    border-bottom-right-radius: 20px;
}

.desktop a::after {
    content:'';
    height: 3px;
    width: 0;
    background-color: black;
    margin: auto;
    display: flex;
}

.desktop a:hover::after {
    width: 100%;
    border-radius: 60px;
    opacity: 50%;
    transition: width 0.3s;
    display: block;
}
.dc-Travelling{
    background-color: rgb(224, 239, 245);
    
}

@media (min-width: 768px) {
    .mobile {
        display: none;
    }
    .desktop {
        display: flex;
    }
    .mobile-toggle {
        display: none;
    }
}

@media (min-width: 992px) {

}




