*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
.box{
    display: grid;
    justify-content: center;
    grid-template-columns: 0.1fr 0.1fr 0.1fr;
    min-height: 100vh;
}
.container1{
    margin: 30px;
    width: 330px;
    height: 320px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transition: all 0.45s ease;
}


.pic{
    width: 300px;
    height: 210px;
    display: flex;
    border-radius: 8px 8px 8px 8px;
    transition: all 0.45s ease;
    margin-left: 15px;
    margin-top: 10px;
}
.container2{
    margin-left: 20px;
    transition: transform 0.45s ease;
}
.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-top: 11px;
}

.rest {
    display: flex;
    flex-direction: column;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f85606;
    padding-left: 19px;
    padding-right: 11px;
    padding-bottom: 10px;
    color: white;
    transition: opacity 0.7s ease;
}

.duo{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 15px;
    color: white;
}
.cost{
    margin-top: 5px;
}
.duo1{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.likes{
    font-size: 20px;
    margin-right: 6px;
}
.share{
    font-size: 20px;
}
/* hover */

.container1:hover {
    height: 390px;
}

.container1:hover .pic{
    border-radius: 8px 8px 0px 0px;
    width: 330px;
    height: 220px;
    margin-top: 0px;
    margin-left: 0px;
}

.container1:hover .container2 {
    transform: translateY(20px);
}

.container1:hover .rest {
    opacity: 1; 
}

/* Arrow */
.more{
    font-family: sans-serif;
    margin-top: 9px;
    color: #FF2400;
}
.arrow-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.4s ease;
  }
  
.arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px dotted #333;
    margin: 0 2.5px;
    animation: arrowAnimation 1.5s ease-in-out infinite;
  }
  

  @keyframes arrowAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .container1:hover .arrow-box{
    cursor: default;
    opacity: 0;
}
